<h1><%= @list.list_name %></h1>

<h2>List Items</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Link</th>
    <th>Suggested By?</th>
  </tr>
  <% @list.items.each do |item| %>
    <% if item.suggested_by.nil? || item.visibility == 'owner' || item.visibility == 'everyone' %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.url %></td>
        <td><%= User.find(item.suggested_by).first_name unless item.suggested_by.nil? %></td>
        <td><%= "PURCHASED" if item.purchased %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= render partial: 'items/new', locals: {list: @list, source: 'list' } %>